.schedule-btn {
    width: 100%;
    background: #ffffff;
    border-color: #777777;
    color: #222;
    font-size: 60px;
    padding: 20px;
};

.btn-primary:hover {
    background: rgb(230,33,33);
};

.calendar-icon {
    color: #ffffff;
    margin: 5px 10px 5px 5px;
    font-size: 20px
};
