.toggle_button {
    height: 25px;
    width: 30px;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    float: left;
    margin-top: 10px;

}

.toggle_button:focus {
    outline: none;
}

.toggle_line {
    width: 30px;
    height: 2px;
    background: white;
}

.side-nav {
    height: 100%;
    background: #777777;
    box-shadow: 1px 0 7px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 300px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.side-nav.open {
    transform: translateX(0);
}

.side-nav ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.side-nav li {
    margin: 0.5rem 0;
}

.side-nav li:hover {
    background-color: grey
}

.side-nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
}

.side-nav a:hover,
.side-nav a:active {
    color: #ffffff;
}

