/* .req:hover {
    transform: scale(1.02);
    background: #F7F7F7;
}

.req {
    margin-bottom: 20px;
}

.container {
    margin-top: 25px;
    padding: 0px;
} */

.req-modal {
    width: 90%;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    position: fixed;
    top: 20vh;
    left: 5%;
    z-index: 100;
}

.req-modal-header {
    padding: 1rem;
    background: #5101d1;
    color: white;
}

.req-modal-header h1 {
    margin: 0;
    font-size: 1.25rem;
}

.req-modal-content {
    padding: 1rem;
}

.req-modal-subheader {
    background-color: #EEEEEE
}

.req-modal-actions {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.btn {
    margin: .5rem;
    float: left !important;
}

.btn:hover {
box-shadow: 5px 10px 5px #333333
}

.btn-secondary {
    background-color: grey
}

.btn-cancel {
    background-color: darkred !important
}

.btn-success {
    background-color: darkgreen
}

.btn-secondary:hover {
    background-color: #555555;
    color: white
}

.btn-cancel:hover {
    background-color: red !important
}

.btn-success:hover {
    background-color: green
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .75);
}

.modal-row {
    margin: 1em;
}

.close-button {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

@media (min-width: 768px) {
    .modal {
        width: 30rem;
        left: calc((100% - 30rem) / 2);
    }
}