.has-search .form-control {
  padding-left: 2.375rem;
  }
  
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
  }
.container-fluid{
  margin-top: 30px;
  max-width: 80%;
  padding: 0px;
}
