.form-group {
   font-size: 15px;
   font-weight: bold;
}

input {
   height: 30px;
   font-size: 15px;
}

.button {
   position:relative;
}

.back-btn {
   font-size: 25px;
   color: #4b4c4f;
   margin-top: 10px;
}

.back-btn:hover {
   color: #777777
 }


.button:hover {
    border:  rgb(112, 12, 112) 2px solid;
 }

 .container{
   margin-top: 30px;
   padding: 0px;
 }