

 .form-group {

    font-size: 15px;
    font-weight: bold;



 }

 input {

    height: 30px;
    font-size: 15px;
 }

 .button {

    position:relative;



 }

 .button:hover {


    border:  rgb(112, 12, 112) 2px solid;

 } 